@CHARSET "ISO-8859-1";
body
{
	margin:0px;
}
.header
{
	height:90px;
	margin-top:-20px;
	background-color:#F1F1F1;
	border:1px solid lightgrey;
	width:99.85%;
}
.titleHeader
{
	font-size:50px;
	margin-left:25px;
	line-height:100px;
	font-weight:bold;
	color:brown;
	font-family: tahoma;
}
.signUpHeader
{
	margin-left:788px;	
}
.signupError
{
	margin-top:-5px;
	position:absolute;
	font-weight:bold;
	color:red;
	font-size:16px;
	margin-left:25px;
}
.signupSuccess
{
	margin-top:10px;
	color:green;
	font-size:16px;
	margin-left:25px;
	width:70%;
	font-weight:bold;
}
.adsError
{
	margin-top:-10px;
}
.adsSuccess
{
	margin-top:40px;
	color:green;  
}

.signInHeader
{
	margin-left:620px;
}
.headerSignSpan
{
	text-align:right;
	font-size:20px;
	font-style:italic;
	font-weight:bold;
	margin-right:10px;
	vertical-align:top;
	line-height:95px;
}
.buttonSignUp
{
	vertical-align:top;
	margin-top:25px;
	width:13%;
	height:50%;
	background-color:#D34836;
	color:white;
	border-radius:6px;	
}
.buttonSignIn
{
	width:40%;
	margin-left:25px;
	height:35px;
	color:white;
	font-size:16px;
	background-color:#387DEB;
	border-radius:4px;
	display:inline;
}
.buttonForgetPassword
{
	
	
}
.createAdButton
{
	width:60%;
}
.goTopButton
{
	width:7%;
	background-color:#387DEB;
	border-radius:4px;
	height:35px;
	color:white;
}
.buttonLogOut
{
	vertical-align:top;
	margin-top:25px;
	width:15%;
	height:50%;
	background-color:#D34836;
	color:white;
	border-radius:6px;
	margin-left:929px;
}
.phoneTextSpan
{
	float:left;
	width:45%;
	font-size: 20px;
	margin-left:25px;
}
.phoneSpan
{
	margin-left:650px;
	float:left;
	position:absolute;
}
.mainDiv
{
	margin-top:50px;
	font-size:18px;
	border:1px solid lightgrey;
	width:27%;
	height:40%;
	background-color:#f1f1f1;
	margin-left:900px;
	
}
.loginError
{
	color:#E26F39;
	font-size:16px;
	margin-left:25px;
	margin-top:-10px;
	width:70%;
}
.helpIcon
{
	color:#ffffff;
	background:#dd4b39;
	border-radius:1em;
	font-weight:bold;
	padding:0 5px;
	display:inline-block;
	cursor:pointer;
}
.helpIcon:hover
{
	background: #c03523;
    border-radius: 5px;
    color: #fff;
    content: attr(title);   
}
.advertisementSpan
{
	margin-top:-10px;
}
.signInSpan
{
	margin-top:10px;
	width:80%;
	height:50px;
}
.textBoxSpan
{
	margin-top:7px;
	margin-left:25px;
	width:70%;
	margin-bottom:18px;
	height:25px;
	padding-left: 5px;
	font-weight: NORMAL;
	
}
.labelSignIn
{
	display:block;
	margin:25px;
	width:60%;
}

.labelUserName
{
	margin-left:25px;
	display:block;
	
}
.font
{
	font-family:tahoma;
}
.textFont
{
	font-size:25px;
	padding-left:15px;
	padding-bottom: 90px;
}
.fontTextFields
{
	 font: 81.25% arial, helvetica, sans-serif;
	 font-size:12px;
}
.passwordText
{
	 font: 81.25% arial, helvetica, sans-serif;
	 font-size:12px;
	 width:50%;
	 margin-left:100px;
}
.adsFont
{
	font-size:16px;
	font-family:tahoma;
}
.addButtonSpan
{
	margin-left:450px;
	line-height:450px;
}
.createAdButton
{
	width:190px;
	margin-left:25px;
	height:35px;
	color:white;
	font-size:16px;
	background-color:#387DEB;
	border-radius:4px;
	display:block;
}
.payButtonSpan
{
	width:190px;
	margin-left:25px;
	height:35px;
	color:white;
	font-size:16px;
	background-color:#387DEB;
	border-radius:4px;
	display:inline;
}
.payButton
{
	margin-top:50px;
	margin-left:30px;
}
.cancelButton
{
	margin-left:20px;
}
.welcomeSpan
{
	line-height:70px;
	margin-left:25px;
	display: block;
}
.cartIcon
{
	float:right;
	margin-right:15px;
}
.editIcon
{
	margin-left:50px;
}
.error
{
	font-color:red;
	font-size:25px;
	margin-left:25px;
}
.lastAccessTimeSpan
{
	float:right;
	margin-top:20px;
	margin-right:35px;
	font-size:20px;
	border:2px solid black;
	border-style:dashed;
	padding:2em;
	background-color: gray;
}
.time
{
	color:yellow;
	font-family: cursive;
	font-size: 25px;
}
.addCartColumn
{
	border:1px solid lightblue;
	border-left:none;	
}
.tableHeader
{
	height:70px;
	text-align:center;
	background-color: yellow;
}
table#albums 
{
    border-collapse:separate;
    border-spacing:0 5px;
}
.tableAgainHeader
{
	text-align:center;
	background-color: #ffffee;
	padding-bottom: 1em; 
}
.dataAgain
{
	background-color: lightgreen;
}
.titleName
{
	background-color: #E8A352;
	font-size: 20px;
}
.productsFont
{
	margin-left:400px;
	color:green;
	font-family: cursive;
	font-size: 32px;
	text-align:center;
	background-color: #EEbEEE;
}
.loginNameFont
{
	font-size:28px;
	font-weight: bold;
	font-family: tahoma;
}
.fontCart
{
	font-size:20px;
}
.productsTitle
{
	margin-left:450px;
}
.progressBarSpan
{
	margin-left:800px;
}
.advertisementsOptionsSpan
{
	margin-left:25px;
}
a
{
 	text-decoration:none;
}
.totalPrice
{
	font-size:20px;
	background-color: lightgreen;
}
.disabledText
{
	font-size:22px;
	width: 50px; 
	text-align: center;
	font-weight:bold;
	color:black;
}
.checkOutSpan
{
	float:right;
	margin-right:35px;
	margin-top:-40px;
}
.addToCartSpan
{
	float:left;
	margin-left:30px;
	margin-top:-43px;
}
.cardDetails
{
	font-size:18px;
	padding-top:15px;
	color:#ffffff;
	font-family:Arial,sans-serif;
	
}
.home
{
	float:right;
	margin-top:20px;
	margin-right:50px;
}
.goTopClass
{
	margin-top:60px;
	margin-left:1240px;
	position:fixed;
}